* {
  font-family: monospace;
}

body {
  display: grid;
}

h1.title {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
}

div.input {
  text-align: center;
}

.day,
.month {
  text-align: center;
}

p.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 2rem;
}

div.content {
  display: flex;
}

div.left {
  width: 50%;
  height: 45rem;
  float: left;
  border: 5px solid grey;
  overflow: scroll;
  overflow-x: hidden;
}

div.on-this-day {
  height: 45rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

div.right {
  width: 50%;
  height: 45rem;
  float: right;
  border: 5px solid green;
}

div.apod {
  height: 45rem;
  width: 100%;
}

.errMsg {
  display: flex;
  align-items: center;
}

#page-counter {
  font-size: 15px;
  color: greenyellow;
}

footer {
  margin-top: 2.5rem;
  color: grey;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
