* {
  font-family: 'Helvetica', 'Arial', 'LiHei Pro', sans-serif;
}

body {
  display: grid;
  background-image: url('img/history-pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1.title {
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  font-size: 40px;
}

div.input {
  text-align: center;
}

.day,
.month {
  text-align: center;
}

p.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 2rem;
}

div.content {
  display: flex;
}

div.left {
  width: 50%;
  height: 45rem;
  float: left;
  margin: 0 20px 0 20px;
  /* border: 2px solid grey; */
  overflow: scroll;
  overflow-x: hidden;
  background-color: antiquewhite;
}

div.on-this-day {
  height: 95%;
  /* background-color: white; */
  margin: 25px;
  padding: 20px;
}

div.right {
  width: 50%;
  height: 45rem;
  float: right;
  margin: 0 20px 0 20px;
  /* border: 2px solid grey; */
  background-color: antiquewhite;
  border-left: 0px;
}

div.apod {
  height: 40rem;
  /* width: 95%; */
  /* border: 2px solid grey; */
  margin: 20px;
  padding: 20px;
  /* background-color: white; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.errMsg {
  display: flex;
  align-items: center;
}

#page-counter {
  font-size: 15px;
  color: greenyellow;
}

footer {
  margin-top: 2.5rem;
  color: grey;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
